GEMINI_API_KEY=Yourapikey

# はてなOAuth認証キー
HATENA_CONSUMER_KEY=Yourconsumerkey
HATENA_CONSUMER_SECRET=Yourconsumersecret
# 初回認証で取得したキー
HATENA_ACCESS_TOKEN=Youraccesstoken
HATENA_ACCESS_TOKEN_SECRET=Youraccesstokensecret

# はてなエンドポイント設定: https://blog.hatena.ne.jp/{はてなID}/{ブログID}/atom/entry
HATENA_ENTRY_URL=Yourentryurl

LINE_ACCESS_TOKEN=
SHEETS_KEY_PATH=

# 開発者用設定
DEBUG=FALSE